body {
  background-color: black;
}

.phoneSize {
  width: 400px;
  height: 940px;

  /* width and height auto responsive */
}

.mainContainer {
  margin: auto;
}

.welcomeBody {
  height: 940px;
}

.navicons {
  margin-left: 5px;
}

.welcomeImage1 {
  margin-top: 150px;
}

.welcomeImage {
  margin-top: 78px;
}

.agreeWelcomeImage {
  margin-top: 150px;
}

.continueBtn {
  background-color: #00d970;
  color: white;
}

.continueBtn:hover {
  background-color: #00d970;
  color: white;
}

.agreeContinueBtn {
  margin-top: 50px;
  background-color: #00d970;
  color: white;
}

.agreeContinueBtn:hover {
  background-color: #00d970;
  color: white;
}

.countryCode {
  width: 55px;
}

.phoneNumber::placeholder {
  color: #636363;
}

.verificationFooter {
  margin-top: 250px;
}


.confirmNumber {
  position: absolute;
  margin-top: 290px;
  margin-left: 40px;
  width: 300px;

}

.otpVerificationFooter {
  margin-top: 255px;
}

.cursorPointer {
  cursor: pointer;
}

.inputNumberSuccess {
  position: absolute;
  text-align: center;
  width: 100px;
  margin-left: 22px;
  margin-top: -10px;
  background-color: white;
}

.dialpad {
  display: grid;
  grid-template-columns: auto auto auto;
}

.formDetails {
  margin-top: 40px;
}

.formInputHeight {
  height: 62px;
  border-color: #d2cfcf;
}

.formInputRadio {
  margin-left: 40px;
  margin-top: 22px;

}

.detailsPage1Filling {
  background: linear-gradient(to right, #00d970 50%, #d2cfcf 50%);
  height: 10px;
  width: 90px;
}

.detailsPage2Filling {
  background-color: #00d970;
  height: 10px;
  width: 90px;
}

.formPageFooter {
  margin-top: 135px;
}

.loginasCard {
  height: 80px;
  border: none;

}

.loginasCard:hover {
  background-color: #00d970;
}

.loginasImage {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

.loginasName {
  color: #4d4d4d;
  font-size: 20px;
  margin-left: 30px;
}

/* .navBar {
  margin-top: 860px;
  width: auto;
  position: fixed;
  border: 1px solid red
} */

.navBar {
  border-top: 1px solid #d2cfcf;
  position: absolute;
  bottom: 0;
  width: 380px;
  margin-bottom: 10px;
  border-radius: 10px;
}