body {
  background-color: black;
}

.phoneSize {
  width: 428px;
  height: 920px;
}

/* @media (min-width:567px) {
  .phoneSize {
    width: 400px;
    height: 900px;
    margin: auto;
  }

} */


.mainContainer {
  margin: auto;
}

.welcomeBody {
  height: 940px;
}

.navicons {
  margin-left: 5px;
}

.welcomeImage1 {
  margin-top: 150px;
}

.welcomeImage {
  margin-top: 78px;
}

.agreeWelcomeImage {
  margin-top: 150px;
}

.continueBtn {
  background-color: #00d970;
  color: white;
}

.continueBtn:hover {
  background-color: #00d970;
  color: white;
}

.agreeContinueBtn {
  margin-top: 50px;
  background-color: #00d970;
  color: white;
}

.agreeContinueBtn:hover {
  background-color: #00d970;
  color: white;
}

.countryCode {
  width: 55px;
}

.phoneNumber::placeholder {
  color: #636363;
}

.verificationFooter {
  margin-top: 250px;
}


.confirmNumber {
  position: absolute;
  margin-top: 290px;
  margin-left: 40px;
  width: 300px;

}

.otpVerificationFooter {
  margin-top: 255px;
}

.cursorPointer {
  cursor: pointer;
}

.inputNumberSuccess {
  position: absolute;
  text-align: center;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 22px;
  margin-top: -10px;
  background-color: white;
}

.dialpad {
  display: grid;
  grid-template-columns: auto auto auto;
}

.formDetails {
  margin-top: 40px;
}

.formInputHeight {
  height: 62px;
  border-color: #d2cfcf;
}

.formInputheight {
  height: 62px;
  border-color: #00d970;
}

.form-control:focus {
  border-color: #d2cfcf;
  box-shadow: none;
}

.formInputRadio {
  margin-left: 40px;
  margin-top: 22px;
}

/* radio background color change */
input[type=radio] {
  appearance: none;
  padding: 6px;
  border: 1px solid #d2cfcf;
  border-radius: 50%;

}

input[type=radio]:checked {
  background-color: #00d970;
  border: 1px solid #00d970;
}



.detailsPage1Filling {
  background: linear-gradient(to right, #00d970 50%, #d2cfcf 50%);
  height: 10px;
  width: 90px;
}

.detailsPage2Filling {
  background-color: #00d970;
  height: 10px;
  width: 90px;
}

.formPageFooter {
  margin-top: 135px;
}

.loginasCard {
  height: 80px;
  border: none;

}

.loginasCard:hover {
  background-color: #00d970;
}

.loginasImage {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

.loginasName {
  color: #4d4d4d;
  font-size: 20px;
  margin-left: 30px;
}

/* .navBar {
  margin-top: 860px;
  width: auto;
  position: fixed;
  border: 1px solid red
} */

/* added margin left and width=100% */
.navBar {
  border-top: 1px solid #d2cfcf;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* width: 398px; */
  border-radius: 10px;
  padding-left: 10px;
  margin-left: -12px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.mainBody {
  overflow: scroll;
}

.b_100 {
  margin-bottom: 100px;
}

.borderWhite {
  border-color: white;
}

.appGreen {
  color: #00d970;
}

.wishNowBtn {
  width: 88px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #00d970;
  background-color: #00D9701A;
  cursor: pointer;
}

.inviteBtn {
  width: 88px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #1EB7CD;
  background-color: #1EB7CD1A;
  cursor: pointer;

}

.scrollHide::-webkit-scrollbar {
  display: none;
}


/* for Map in event page */
.mapouter {
  position: relative;
  text-align: right;
  width: 350px;
  height: 200px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 350px;
  height: 200px;
}

.gmap_iframe {
  width: 350px !important;
  height: 200px !important;
}

.scroll {
  overflow: scroll;
}

.formdata {
  position: absolute;
  text-align: center;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 22px;
  margin-top: -10px;
  background-color: white;
}

.no-wrap {
  white-space: nowrap;
}